body {
    
    text-align: center;
    align-items: center;
    background-image: url("imagens/sabesp\ marca\ dagua.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    text-align: center;
}

input.BotaoInicial {
    width: 100px;
    height: 30px;
}


input[type="number"] {
    background-color: lightblue;
    width: 100px;
}


table.TableDosPac {
    width: 400px;
    border-collapse: collapse;
    background-color: #19e6ff;
    align-items: center;
    margin: auto;
    /* Tabela alinha no meio */
}

table.TableDosPac th{
    border: 1px solid black;

}

tr#Linhas {
    border: 1px solid black;
    background-color: rgba(95, 252, 74, 0.575);
}


footer {
    color: blue;
}
