body {
    
    text-align: center;
    align-items: center;
    background-image: url("imagens/sabesp\ marca\ dagua.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

input.BotaoInicial {
    width: 100px;
    height: 30px;
}


input[type="number"] {
    background-color: lightblue;
    width: 100px;
}

footer {
    color: blue;
}
